{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Inscrivez-vous ! </h1>

    <div class="row">
        <div class="col-10 mx-auto">
    
            {# équivaut à la balise HTML form #}
            {{ form_start(form) }} 

            <div class="row">
                
                <div class="col-6">{{ form_row(form.firstname)}}
                <div class="col-6">{{ form_row(form.lastname)}}                 
                </div>
            
            {# {{ form_row(form.gender)}} #}

            <div class="row">
                
                <div class="col-6">{{ form_row(form.email)}}
                <div class="col-6">{{ form_row(form.password)}}                 
                </div>

            {{ form_row(form.submit)}}
            {{  form_row(form.gender, { 'label': 'Genre' } )}}


            {{ form_end(form) }} {#  <form> #}
        </div>
    </div>

{% endblock %}

{# {'attr': {novalidate: 'novalidate'}} #}
{# Vous pouvez désactiver le validateurHTML5 coté Twig avec :
              => form_start(form, {'attr': {novalidate: 'novalidate'}})#}

